body{
    margin:0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;   
    color:black;   
}
.search-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1{
    font-size: 60px;
    margin-bottom: 10px;
}
p{

    font-size: 22px;
}
.details{
  text-align: center;
  
   
}
#search{
padding: 15px;
width: 500px;
border-radius: 10px;
font-size: 20px;
background-color: white;
border: none;
text-align: center;
box-shadow: 4px 4px 4px 4px  #7a8e8b  ;

}
.input{
    margin-top:35vh;
    display:flex ;
    gap: 20px;
}

#search:focus{
    outline-color: #80B5AD;
}
#search::placeholder{
color:rgb(163, 147, 147);
}
#btn{
border: none;
padding: 15px 40px; 
border-radius: 10px;
font-size: 20px;
font-style: bold;
background-color: #80B5AD;
color: white;
cursor: pointer;
box-shadow: 4px 4px 4px 4px  #7a8e8b  ;
}


#flag{
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}
#text{
    font-size: 25px;
    margin-top: 20px;
}
